/* header */
.header {
  background-color: #5821fd;
  background-image: linear-gradient(270deg, #5821fd 0%, #a221ff 100%);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  color: #eee;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.title img {
  width: 40px;
}

/* main content */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}